<%= form_with(model: interest_list_item, local: true) do |form| %>
  <% if interest_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest_list_item.errors.count, "error") %> prohibited this interest_list_item from being saved:</h2>

      <ul>
      <% interest_list_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :listing_id %>
    <%= form.text_field :listing_id %>
  </div>

  <div class="field">
    <%= form.label :interest_list_id %>
    <%= form.text_field :interest_list_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
